.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 24px auto;
  background-color: #5b8fb9;
  border-radius: 16px;
  gap: 24px;
  border: 2px solid whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 24px;
  border-bottom: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke;
  min-width: 320px;
}

.input {
  min-width: 240px;
}

.title {
  /* margin-bottom: 16px; */
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 16px;
}

.label {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 16px;

  letter-spacing: 0.05rem;
}

.input {
  padding: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.05rem;
}

.button {
  padding: 16px;
  border-radius: 8px;
  border: 2px solid whitesmoke;
  outline: none;
  background-color: #301e67;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  color: whitesmoke;
  text-transform: uppercase;
  transition: 250ms ease-in-out;
}

.button:is(:hover, :focus) {
  background-color: #b6eada;
  color: #03001c;
  border-color: #03001c;
  transform: scale(1.05);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  min-width: 240px;
}

.list__item {
  font-size: 16px;
  font-weight: bolder;
  color: #301e67;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
}
